<h1>
  Edit User
</h1>
<%= render "form", event: @user %>

<p><%= link_to "Delete Account", user_path(@user),
                  method: :delete,
                  data: { confirm: "Delete User? This cannot be undone" } %></p>